h1 {
    color:blue;
    text-align: center;
    background-color: seashell;
}
body {
    border: 2px dotted red;
    padding: 15px;
    margin: 20px;
}
a:link {
    color:green;
    text-decoration: none;
}
a:visited {
    color:purple;
    text-decoration: none;
}
a:hover {
    color:black;
    text-decoration: underline;
    background-color: sandybrown;
    display: inline-block;
    padding: 10px;
}
a:active{
    color:brown;
    text-decoration:none;
}